body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-section-background {
    background: #1F2937;
}

.header-section {
    display: flex;
    flex-direction: column;
    margin: 0px 300px;
    border: 2px solid green;

    
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    padding: 0px 12px;
}

.header h3 {
    /* font-size: 25px; */
    color: #F9FAF8;
    font-weight: bold;
    margin: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #F9FAF8;
    
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    gap: 60px;
    
}


.info-image img {
    width: 400px;
    height: 200px;
}