* {
    border: 1px solid green;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-section-background {
    background: #1F2937;
}

.header-section {
    display: flex;
    flex-direction: column;
    margin: 0px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
}

.header h3 {
    /* font-size: 25px; */
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0px;
    padding: 0 12px;;
    gap: 40px;

}

.info h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0
}

.info p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0
}

.info-image img {
    max-width: 400px;
    max-height: 300px;
}

.booking-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
}

.delicacies-section {
    margin: 80px 300px 100px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delicacies-section h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 0;
    margin-bottom: 40px;

}

.image-cards {
    display: flex;
    gap: 50px;
    
}

.card {
    text-align: center;
}

.card img {
    max-width: 180px;
    max-height: 180px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quote-background {
    background: #E5E7EB;
}

.quote-section {
    margin: 0px 300px; 
    padding: 150px 0; 
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
}

.quote-owner {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.call-to-action-background {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 80px;
    
}

.call-to-action-background {
   background: #3882F6;
   border-radius: 10px;
   margin: 100px 200px;
   height: 15px;
}

.call-to-action h3 {
    color: #F9FAF8;
    font-size: 22px;
    margin-bottom: 5px;
}

.call-to-action p {
    color: #F9FAF8;
    font-size: 18px;
    margin: 0;
}

.mailing-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: 0px 20px;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
}
