body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-section {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid red
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}